@page "/about"
@using ZXBox.Blazor.Components
    <div class="about">
        When I was 7 years old I got my first computer, a ZX Spectrum.<br />
        I remember that I sat down, booted it up, and wrote:<br />
        10 PRINT "Jimmy"<br />
        20 GOTO 10<br />
        <br />
        This was MY code! I made the computer do things.
        And yes! It is available on <a href="https://github.com/EngstromJimmy/ZXSpectrum">Github</a> ;)<br />
        That was the moment I decided I wanted to become a developer.<br /><br />
        After becoming a developer I wanted to see if I could make an emulator written in C#.
        This has become my test project, the thing I try out all new technologies with.<br />
        If you ever see me present, chances are that I will mention the ZX Spectrum.<br /><br />
        I did a talk about Blazor at Microsoft Ignite 2019 where I demoed my ZX Spectrum emulator running on Blazor Web assembly.
        After doing a talk on Blazor and Bluetooth at Live Coders Conf, I got a lot of comments on my ZX Spectrum so I decided to publish it =)

        <br /><br />
    I will continue to work on the emulator and add more features.
    Currah µspeech is something I would love to add some day, we even have Currah µspeech in the opening music for our podcast Coding After Work.
        <br /><br />
        It supports SNA and Z80-formats and you can connect an XBox gamepad to emulate Kempston Joystick.
        <br /><br />
        <b>Thanks to</b><br />
        Jessica Engström - For loving me and letting me have a storage room filled with old computers =D<br />
        Mikael Engström - For teaching me how to program<br />
        Mats Sjöblom - For explaining some of the internals in te ZX Spectrum<br />
        Rodnay Zaks - For writing the book I used to implement all the Z80 Assembler instructions.<br />
        <br /><br />
        <b>Projects</b><br />
        https://github.com/jsakamoto/Toolbelt.Blazor.Gamepad
    </div>
