@page "/games"
@using ZXBox.Blazor.Components
    <div class="about">
        Most emulators are illegal but Amstrad, who owns ZX Spectrum, has released the rom so that anyone may use it.
        The same is true for many game creators, so you might be able to download your favorite game.
        <br />
        <br />
        There are some great sites out there that you can download games, just make sure that they are in Z80 or SNA file format.<br /><br />
        <a href="https://worldofspectrum.org/">World of Spectrum</a><br />
        Has an insane amount of games, however the site is really slow.<br /><br />

        <a href="https://spectrumcomputing.co.uk">Spectrum Computing</a><br />
        Same source as World of Spectrum but faster =)
        <br /><br />
        Or just google the games you want and add SNA or Z80.
        <br /><br />
        If you have an XBox controller connect it to your PC (via USB, adapter or bluetooth) if you select Kempston Joystick in any game you can use the dpad and a-button to play.
        <br /><br />
        What is your favorite game?<br />
        Send me a tweet and let me know, mine is JetPac.
        <br /><br />

    </div>