@inherits LayoutComponentBase
<NavMenu></NavMenu>
<div class="emulator">
    @Body

</div>
<footer class="page-footer">ZX Spectrum Emulator running on Blazor WebAssembly<br />Twitter: <a href="https://twitter.com/EngstromJimmy">@@EngstromJimmy</a> Blog: <a href="https://www.engstromjimmy.com">EngstromJimmy.se</a> Twitch: <a href="https://www.twitch.tv/Codingafterwork">CodingAfterWork</a></footer>

